@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: $main-bg-color;
  min-width: 320px;
  color: $main-text-color;
  transition: background-color linear .6s,
              color cubic-bezier(0.4, 0, 0.2, 2) .3s;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: $phone;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
  @media screen and (max-width: $phone) {
    width: 100%;
  }
}
