#buttons-container {
  margin-top: 30px;
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 30px;
}

.btn {
  opacity: 100;
  border: 1px solid #4b48db;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 8px 23px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #4440f7;
  cursor: pointer;
  background-color: $white-color;
}

.btn:hover {
  background-color: #4440f7;
  color: #fff;
  .show-more__icon {
    fill: #fff;
  }
}

.show-more {
  position: relative;
}

.show-more_btn {
  justify-content: center;
  display: flex;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.show-more__categories {
  display: none;
  flex-direction: column;
  border-radius: 20px;
  position: absolute;
  height: 43px;
}

.show-more__categories--open {
  display: flex;
  height: 380px;
  overflow: auto;
  width: 168px;
  margin-top: 9px;
  margin-left: -24px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.show-more__categories--open::-webkit-scrollbar {
  display: none;
}

.show-more__category:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.show-more__category:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.show-more__category {
  background-color: $white-color;
  padding: 12px 24px;
  border: none;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  letter-spacing: 0.01em;
  color: #4440f7;
  cursor: pointer;
}

.btn.active {
  background-color: $second-active-color;
  color: $white-color;
  & .show-more__icon {
    fill: #fff;
  }
}

.text-icon_block {
  display: flex;
}

.show-more__icon {
  fill: #4440f7;
  margin-left: 5px;
}
.show-more__icon--active {
  transform: rotate(180deg);
}

.filter__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 10px;
  }
}
.filter__item {
  padding-top: 7.5px;
  padding-right: 13px;
  padding-bottom: 7.5px;
  padding-left: 13px;
  border-radius: 20px;
  border: 1px solid $active-color;
  color: $second-active-color;
}

.filter-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.filter-calendar__text {
  display: none;

  @media screen and (min-width: $desktop) {
    display: inline;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.38;
    color: $main-text-color;
    margin-left: 111px;
  }
}

.calendar-input.isActive::placeholder {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $white-color;
}

.calendar-input.isActive {
  background-color: $second-active-color;
  color: $white-color;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.calendar-modal.is-hidden > .calendar-modal__container {
  transform: translateY(-104%);
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0);

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.calendar-form {
  position: relative;

  @media screen and (min-width: $desktop) {
    margin-left: 52px;
  }
}

.calendar-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;

  width: 152px;
  height: 31px;
  padding: 5px 12px;
  border: 1px solid $main-text-color;
  border-radius: 20px;

  text-align: center;

  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.75;
  letter-spacing: 0.02em;

  color: $secondary-text-color;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    width: 168px;
    height: 31px;
    font-size: 14px;
    line-height: 1.5;
    gap: 18px;
  }
}

.calendar__button-calendar {
  position: absolute;
  fill: $second-active-color;
  margin-left: 12px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar__button-calendar.switchedColor {
  z-index: 1;
  fill: $white-color;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__button-arrow {
  margin-left: 12px;
  display: flex;
  position: absolute;
  z-index: 1;
  fill: $secondary-text-color;
  right: 12px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar__button-arrow.switched {
  fill: $white-color;
  transform: rotateX(180deg);

  transition-duration: 250ms;
}

.calendar__button-back {
  fill: $second-active-color;
}

.calendar-modal {
  position: absolute;

  overflow: hidden;
  z-index: 2;
  display: block;
  width: 250px;

  height: 350px;
  right: 0px;

  pointer-events: auto;
}

.calendar-modal__container {
  cursor: pointer;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  margin-left: 0;
  padding: 16px 16px 20px 16px;
  width: 250px;
  right: 0px;
  background-color: $white-color;
  border-radius: 20px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar-switcher {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
  height: 44px;
  margin-bottom: 2px;
  align-items: center;
}

.current-date {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: -0.408px;
  font-feature-settings: 'case' on;
  color: #000000;
}

.calendar-icons {
  display: flex;
  color: $second-active-color;
}

.calendar-icons span {
  width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
  fill: $second-active-color;
  display: flex;
}

.calendar-icons span:last-child {
  margin-right: -10px;
}

.calendar-icons span:hover {
  background: $white-color;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar li {
  width: calc(100% / 7);
  margin-bottom: 14px;
  font-family: 'Manrope';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.078px;
  color: rgba(60, 60, 67, 0.3);
}

.calendar .days li {
  font-family: 'Manrope';

  font-weight: 500;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.38px;
  color: $main-text-color;
  z-index: 1;
  position: relative;
  margin-bottom: 12px;
}

.calendar .days li:nth-last-child(-n + 7) {
  margin-bottom: 0;
}

.days li.active {
  color: $white-color;
}

.days li::before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  height: 28px;
  width: 28px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: $second-active-color;
}
