@media screen and (min-width: 320px) {
    .nothing{
        display: none;
    }
    .not-none{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (min-width: $phone) {
    .nothing{
        &_title{
            font-family: 'Manrope';
            font-weight: 700;
            font-size: 20px;
            line-height: 1.4em;
            width: 276px;
            margin-top: 0;
            text-align: center;
            letter-spacing: -0.01em;
            color: $main-text-color;
        }
        &_img{
            width: 248px;
            height: 198px;
        }
    }
    .not-none{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (min-width: $tablet) {
    .nothing{
        &_title{
            margin-bottom: 40px;
            width: 548px;
            font-size: 40px;
        }
        &_img{
            width: 560px;
            height: 444px;
        }
    }
    .not-none{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (min-width: $desktop) {
    .nothing{
        &_img{
            width: 601px;
            height: 478px;
        }
    }
    .not-none{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.dark .nothing_title{
    color: $dt-main-text-color;
}