$main-bg-color: #f4f4f4;
$dt-main-bg-color: #2e2e2e;
$main-text-color: #111321;
$secondary-text-color: #a8a8a8;
$dt-main-text-color: #f4f4f4;
$second-active-color: #4440f6;
$second-active-color-opacity: rgba(68, 64, 247, 0.7);
$white-color: #ffffff;
$active-color: #4b48db;
$already-read-color: #00dd73;
$already-read-cover: rgba(244, 244, 244, 0.4);
$not-active-color: #5f6775;
$phone: 480px;
$tablet: 768px;
$desktop: 1280px;
