@import './variables';
@import './common';
@import './header';
@import './card';
@import './nothing-found';
@import './footer';

.read-by-date-container {
  margin-top: 40px;
  @media screen and (min-width: 480px) {
    margin-top: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
  }
}

.date-wrapper {
  padding-bottom: 12px;
  border-bottom: 1px solid #929292;
  margin-bottom: 28px;

  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.date-of-read {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  margin-right: 7px;
}

.hide-button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  color: inherit;

  &__icon {
    fill: currentColor;
    transform: rotate(0deg);
    transition: transform 0.3s cubic-bezier(0.4, 0.4, 0.2, 2);
  }
}
.list-hidden {
  & .hide-button__icon {
    transform: rotate(180deg);
  }

  & .news-card__list {
    @extend .visually-hidden;
  }
}

.read-cards-container {
  margin-bottom: 40px;
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1280px) {
    gap: 32px;
    margin-bottom: 60px;
  }
}

.search-bar {
  visibility: hidden;
}
.open-search-button {
  visibility: hidden;
}

.read-cards-container {
}

.dark {
  color: $dt-main-text-color;
}

.read {
  padding-top: 40px;
 
  @media screen and (min-width: 768px) {
    padding-top: 48px;
    
  }
  @media screen and (min-width: 1280px) {
    padding-top: 60px;
   
  }
}
.favorite_padding {
  padding-bottom: 60px;
  min-height: calc(100vh - 201px);

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
    min-height: calc(100vh - 252px);
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 300px;
    min-height: calc(100vh - 250px);
  }
}