<ul class="filter__list">
  <li class="filter__item"></li>
  <li class="filter__item"></li>
  <li class="filter__item"></li>
  <li class="filter__item"></li>
  <li class="filter__item"></li>
  <li class="filter__item"></li>
</ul>

<div class="filter__others-container">
  <button class="filter__others-btn">
    <span>>Categories</span>
  </button>
</div>
<div class="filter__category-container">
    <!-- для випадаючого списку -->
</div>

<p class="calendar__text">Search date news</p>

<div class="calendar">calendar</div>
