<div class="mobile-menu hidden" id="mobile-menu">
  <div class="header-wraper">
    <a class="logo" href="/src/index.html">News</a>
    <button type="button" class="close-menu-button">
      <svg width="24" height="24" aria-label="Close mobile menu button">
        <use
          href="/src/images/sprite.svg#cross"
          class="menu-button__icon-close"
        ></use>
      </svg>
    </button>
  </div>
  <div class="menu-wraper">
    <ul class="mobile-menu-list">
      <li class="mobile-menu-item mobile-current" id="mobile-home">
        <a href="/src/index.html">
          <svg width="40" height="40" aria-label="Home">
            <use
              href="/src/images/sprite.svg#home"
              class="mobile-menu-icon"
            ></use>
          </svg>
          <p class="menu-text">
            <span>Home</span><span class="arrow arrow-home">></span>
          </p>
        </a>
      </li>
      <li class="mobile-menu-item" id="mobile-favourite">
        <a href="/src/favourite.html">
          <svg width="40" height="40" aria-label="Favorite">
            <use
              href="/src/images/sprite.svg#heart"
              class="mobile-menu-icon"
            ></use>
          </svg>
          <p class="menu-text">
            <span>Favorite</span><span class="arrow arrow-favorite">></span>
          </p>
        </a>
      </li>
      <li class="mobile-menu-item" id="mobile-read">
        <a href="/src/read.html">
          <svg width="40" height="40" aria-label="Read">
            <use
              href="/src/images/sprite.svg#book"
              class="mobile-menu-icon"
            ></use>
          </svg>
          <p class="menu-text">
            <span>Read</span><span class="arrow arrow-read">></span>
          </p>
        </a>
      </li>
    </ul>
    <div class="mobile-switcher switcher">
      <svg width="21" height="21" aria-label="Sun">
        <use href="/src/images/sprite.svg#sun" class="mobile-menu-icon"></use>
      </svg>
      <label class="switch">
        <input class="mobile-checkbox checkbox" type="checkbox" />
        <span class="slider"></span>
      </label>
      <svg width="21" height="21" aria-label="Moon">
        <use href="/src/images/sprite.svg#moon" class="mobile-menu-icon"></use>
      </svg>
    </div>
  </div>
</div>
