<div class="container">
<div class="pagination--container pagination">
  <div class="pagin">

    <button class="prev-page btn-prev" disabled>
      <a class="fas fa-angle-left btn-prev"><span class="s_prew btn-prev">&#8249;</span>Prew</a>
    </button>
    <div id="pagination"></div>
    <button class="next-page btn-next">
      <a class="fas fa-angle-right btn-next">Next<span class="s_next btn-next">&#8250;</span>
</a>
    </button>

  </div>
</div>

<div class="pagination--container--search pagination_search pagination-search-hidden">
  <div class="pagin-search">
   
    <button class="prev-page-search btn-prev" disabled>
      <a class="fas-search fa-angle-left-search btn-prev">
        <span class="s_prew-search btn-prev">&#8249; Prew</span>
      </a>
    </button>
    <div id="pagination-search"></div>
    <button class="next-page-search btn-next">
      <a class="fas-search fa-angle-right-search btn-next">Next<span class="s_nex-searcht">&#8250;</span></a>
    </button>
  </div>
</div>

<div class="pagination--container--categories pagination_categories pagination-categories-hidden">
  <div class="pagin-categories">
    <button class="prev-page-cat" disabled>
      <a class="fas-cat fa-angle-left-cat">
        <span class="s_prew-cat">&#8249; Prew</span>
      </a>
    </button>
    <div id="pagination-categories"></div>
    <button class="next-page-cat">
      <a class="fas-cat fa-angle-right-cat">
        Next <span class="s_nex-cat">&#8250;</span></a>
    </button>
  </div>
</div>
</div>