<div class="container ">
<div class="pagination--container pagination pagination-hidden">
  <div class="pagin">

    <button class="prev-page btn-prev" disabled>
      <a class="fas fa-angle-left btn-prev"><span class="s_prew btn-prev">&#8249;</span>Prew</a>
    </button>
    <div id="pagination"></div>
    <button class="next-page btn-next">
      <a class="fas fa-angle-right btn-next">Next<span class="s_next btn-next">&#8250;</span>
</a>
    </button>

  </div>
</div>

<div class="page-container-search pagination_search pagination_search-hidden">
    <button class="prev-page-search " disabled>
      <a class="fas-search fa-angle-left-search"><span class="s_prew-search btn-prev">&#8249;</span>Prew
      </a>
    </button>
    <div id="pagination-search"></div>
    <button class="next-page-search ">
      <a class="fas-search fa-angle-right-search btn-next">Next<span class="s_nex-searcht">&#8250;</span></a>
    </button>
  </div></div>


  <div class="pagination--container--categories pagination_categories pagination_categories-hidden">
  <div class="pagin-categories">
    <button class="prev-page-cat btn-prev-cat" disabled>
      <a class="fas-cat fa-angle-left-cat btn-prev-cat">
        <span class="s_prew-cat">&#8249;</span>Prew
      </a>
    </button>
    <div id="pagination-categories"></div>
    <button class="next-page-cat btn-next-cat">
      <a class="fas-cat fa-angle-right-cat btn-next-cat">Next<span class="s_nex-cat">&#8250;</span></a>
    </button>
  
</div>
</div>